<div class="jumbotron" text-center>
    <h1 class="display-3">{{title}}</h1>
    <p class="lead"> A site that allows you to keep track of your favorite recipes </p>
    <p class="my-4"> Jot down ideas for your next meal or cocktail </p>
    <a href="/users/register" class="btn btn-dark btn-lg"> Sign up</a>
</div>